h2{
    color: red;
    text-align: center;
    text-decoration: underline;
}
h3{
    color: red;
    text-align: center;
    text-decoration: underline;

}
p{
    text-align: center;
}
h1{
    text-align: center;
    text-decoration: underline;

}
ul{
    text-align: center;
}
li{
    text-align: center;
}